<div class="image" class="img-fluid" width="100" height="100">
    
    
    <div class="container">
            <div id="cover">
                    <form method="get" action="">
                      <div class="tb">
                        <div class="td"><input type="text" placeholder="Search" required></div>
                        <div class="td" id="s-cover">
                          <button type="submit">
                            <div id="s-circle"></div>
                            <span></span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
        <!-- News jumbotron -->
        <div class="jumbotron text-center hoverable p-4">
                
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <!-- <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"> -->
                    <!-- Featured image -->
                    <div class="view overlay">
                        <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg,"
                            class="img-fluid" alt="Sample image for first version of blog listing">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-7 text-md-left ml-3 mt-3">

                    <!-- Excerpt -->
                    <a href="#!" class="green-text">
                        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> MOVIES</h6>
                    </a>

                    <h4 class="h4 mb-4">{{movies.Title}}</h4>
                    <ul>
                        <li>{{movies.Year}}</li>
                        <li>{{movies.Director}}</li>
                        <li>{{movies.Released}}</li>
                        <li>{{movies.Runtime}}</li>
                        <li>{{movies.Genre}}</li>
                        <li>{{movies.Plot}}</li>
                    </ul>

                    <a class="btn btn-success">Read more</a>

                </div>

                <!-- Grid column -->

                <body>



                </body>
            </div>
            <!-- Grid row -->

        </div>
        <!-- News jumbotron -->
    </div>
    
</div>